{% extends 'base.html.twig' %}

{% block title %}Bonjour Bien-être{% endblock %}

{% block body %}

<i class="container justify-content-center">
    <img src="{{ asset('assets/img/bigbienetre2023.png') }}" alt="Grand logo du site bien-être"/>
<h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid architecto atque deserunt ea eius, ex exercitationem facere ipsum labore laborum minima molestias nostrum obcaecati, omnis praesentium ratione ullam vitae voluptatibus.</h3>
</i>

{% endblock %}
