{% extends 'base.html.twig' %}

{% block title %}Informations du Prestataire {{ prestataire.nom }}{% endblock %}

{% block body %}


    <!-- ============================ Hero Banner  Start================================== -->
    <!-- ============================ Début du slider de photos ============================ -->


    <div class="featured-slick">
        <div class="featured-slick-slide">
            <div><a href="https://picsum.photos/1200/850" class="mfp-gallery"><img
                            src="https://picsum.photos/1200/850" class="img-fluid mx-auto" alt=""/></a></div>
            <div><a href="https://picsum.photos/1200/852" class="mfp-gallery"><img
                            src="https://picsum.photos/1200/852" class="img-fluid mx-auto" alt=""/></a></div>
            <div><a href="https://picsum.photos/1200/851" class="mfp-gallery"><img
                            src="https://picsum.photos/1200/851" class="img-fluid mx-auto" alt=""/></a></div>
            <div><a href="https://picsum.photos/1200/853" class="mfp-gallery"><img
                            src="https://picsum.photos/1200/853" class="img-fluid mx-auto" alt=""/></a></div>
            <div><a href="https://picsum.photos/1200/854" class="mfp-gallery"><img
                            src="https://picsum.photos/1200/854" class="img-fluid mx-auto" alt=""/></a></div>
            <div><a href="https://picsum.photos/1200/855" class="mfp-gallery"><img
                            src="https://picsum.photos/1200/855" class="img-fluid mx-auto" alt=""/></a></div>
        </div>
    </div>


    <!-- ============================ Fin du slider de photos =============================== -->


    <section class="spd-wrap">
        <div class="container">
            <div class="row">

                <div class="col-lg-12 col-md-12">

                    <div class="slide-property-detail">

                        <div class="slide-property-first">
                            <div class="listname-into">

                                <h2>{{ prestataire.nom }} {% for categorie in prestataire.proposer %}<span class="prt-type rent">{{ categorie.nom }}</span> {% endfor %}</h2>
                                <span><i class="lni-map-marker"></i>Adresse à afficher</span>
                            </div>
                        </div>


                    </div>

                </div>
            </div>
        </div>
    </section>



    <h5>Nom : {{ prestataire.nom }}</h5>
{% endblock %}

