{% extends 'base.html.twig' %}

{% block title %}Tous les Prestataires !{% endblock %}

{% block body %}

    <div class="container">

        <h2>Tous les Prestataires</h2>
        <ul>
            {% for prestataire in prestataires %}
                <i class="fas fa-bookmark"></i>
                <h5>Nom {{ prestataire.nom }}</h5>
                <br>

            {% endfor %}
        </ul>
    </div>

{% endblock %}
