{% extends 'base.html.twig' %}

{% block title %}Ajouter une catégorie de service{% endblock %}

{% block body %}

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-md-10">
                <h2>Ajouter une catégorie de service</h2>

                {{ form_start(form) }}

                {{ form_end(form) }}

            </div>
        </div>
    </div>

{% endblock %}


