{% extends 'base.html.twig' %}

{% block title %}À propos - Bien-être{% endblock %}


{% block body %}


    <!-- ============================ Début de notre histoire ================================== -->
    <section>

        <div class="container">

            <!-- row Start -->
            <div class="row align-items-center">

                <div class="col-lg-6 col-md-6">
                    <img src="assets/img/sb.png" class="img-fluid" alt=""/>
                </div>

                <div class="col-lg-6 col-md-6">
                    <div class="story-wrap explore-content">

                        <h2>Notre histoire</h2>
                        <p>Le site et sa création sont issus d’une réflexion profonde sur la notion de bien-être en tant
                            que telle. Traditionnellement, un pays qui est associé au bien-être est l’archipel du Japon,
                            un synonyme du bien-être est justement un mot japonais : Zen.</p>
                        <p>Parmi tous les symboles que le Japon peut véhiculer, il en est un qui relie à la fois la
                            nature et la santé : un arbre qui a pu renaître de ses cendres à Hiroshima, le Ginkgo
                            Biloba. Qui, à l’automne revêt des couleurs d’or dans son feuillage, créant un paysage
                            énigmatique, mystérieux, presque irréel.</p>
                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <h4>Notre mission</h4>
                    <div id="accordion" class="accordion">
                        <div class="card mb-0">
                            <a class="card-header collapsed" data-toggle="collapse" href="#collapseOne">
                                <h5 class="card-title">Notre engagement pour votre bien-être</h5>
                            </a>
                            <div id="collapseOne" class="card-body collapse" data-parent="#accordion" >
                                <p>Notre mission est de vous aider à trouver le bien-être qui vous correspond.</p>
                                <img src="assets/img/ee9c7e7c5a0e6ee8d0de14f7c12289b1-1649426844.jpg" class="img-fluid" alt=""/>
                                <p>L'élément central de la création et de cohésion du site bien-être est ce qui deviendra le
                                    symbole et le logo de notre aventure, une simple feuille d'arbre donc.</p>
                            </div>

                    </div>

                </div>

            </div>

    </section>
    <!-- ============================ Fin de notre histoire ================================== -->

    <!-- ============================ Début notre équipe ================================== -->
    <section class="gray-bg section-bot-min">
        <div class="container">

            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="sec-heading center mb-4">
                        <h2>Rencontrez notre équipe</h2>
                        <p>Une équipe de professionels à votre écoute</p>
                    </div>
                </div>
            </div>

            <div class="row">

                <div class="col-lg-4 col-md-4 col-sm-12">

                    <div class="single-team">
                        <div class="team-grid">

                            <div class="teamgrid-user">
                                <img src="https://via.placeholder.com/400" alt="" class="img-fluid"/>
                            </div>

                            <div class="teamgrid-content">
                                <h4>Bill</h4>
                                <span class="theme-cl">Co-fondateur</span>
                            </div>

                            <div class="teamgrid-social">
                                <ul>
                                    <li><a href="#" class="f-cl"><i class="ti-facebook"></i></a></li>
                                    <li><a href="#" class="t-cl"><i class="ti-twitter"></i></a></li>
                                    <li><a href="#" class="i-cl"><i class="ti-instagram"></i></a></li>
                                    <li><a href="#" class="l-cl"><i class="ti-linkedin"></i></a></li>
                                </ul>
                            </div>

                        </div>
                    </div>

                </div>

                <div class="col-lg-4 col-md-4 col-sm-12">

                    <div class="single-team">
                        <div class="team-grid">

                            <div class="teamgrid-user">
                                <img src="https://placekitten.com/400/400" alt="" class="img-fluid"/>
                            </div>

                            <div class="teamgrid-content">
                                <h4>Le Chat</h4>
                                <span class="theme-cl">Co-fondateur</span>
                            </div>

                            <div class="teamgrid-social">
                                <ul>
                                    <li><a href="#" class="f-cl"><i class="ti-facebook"></i></a></li>
                                    <li><a href="#" class="t-cl"><i class="ti-twitter"></i></a></li>
                                    <li><a href="#" class="i-cl"><i class="ti-instagram"></i></a></li>
                                    <li><a href="#" class="l-cl"><i class="ti-linkedin"></i></a></li>
                                </ul>
                            </div>

                        </div>
                    </div>

                </div>

                <div class="col-lg-4 col-md-4 col-sm-12">

                    <div class="single-team">
                        <div class="team-grid">

                            <div class="teamgrid-user">
                                <img src="https://placedog.net/400/400" alt="" class="img-fluid"/>
                            </div>

                            <div class="teamgrid-content">
                                <h4>Potichien</h4>
                                <span class="theme-cl">Wof</span>
                            </div>

                            <div class="teamgrid-social">
                                <ul>
                                    <li><a href="#" class="f-cl"><i class="ti-facebook"></i></a></li>
                                    <li><a href="#" class="t-cl"><i class="ti-twitter"></i></a></li>
                                    <li><a href="#" class="i-cl"><i class="ti-instagram"></i></a></li>
                                    <li><a href="#" class="l-cl"><i class="ti-linkedin"></i></a></li>
                                </ul>
                            </div>

                        </div>
                    </div>

                </div>


            </div>

        </div>
    </section>
    <!-- ============================ Fin de notre équipe ================================== -->

    <!-- ============================ Début de comment ça marche ================================== -->
    <section>
        <div class="container">

            <div class="row">
                <div class="col text-center">
                    <div class="sec-heading center">
                        <h2>Comment ça marche ?</h2>
                        <p>Comment travailler et fonctionner avec nous.</p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-4 col-md-4">
                    <div class="middle-icon-features">
                        <div class="middle-icon-features-item">
                            <div class="middle-icon-large-features-box"><i class="ti-user text-danger"></i><span
                                        class="steps bg-danger">01</span></div>
                            <div class="middle-icon-features-content">
                                <h4>Créez votre compte</h4>
                                <p>Quelques informations basiques vous seront demandées pour définir votre profil.</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4">
                    <div class="middle-icon-features">
                        <div class="middle-icon-features-item">
                            <div class="middle-icon-large-features-box"><i class="ti-search text-success"></i><span
                                        class="steps bg-success">02</span></div>
                            <div class="middle-icon-features-content">
                                <h4>Cherchez et trouvez votre catégorie</h4>
                                <p>Parmi les catégories de services disponibles sur notre site, trouvez celle qui correspond à votre activité</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4">
                    <div class="middle-icon-features">
                        <div class="middle-icon-features-item">
                            <div class="middle-icon-large-features-box"><i
                                        class="ti-location-arrow text-warning"></i><span
                                        class="steps bg-warning">03</span></div>
                            <div class="middle-icon-features-content">
                                <h4>Enregistrez votre société</h4>
                                <p>Quelques informations supplémentaires et votre inscription en qualité de société prestataire de service sera terminée.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ============================ Fin de comment ça marche ================================== -->

{% endblock %}