{% extends 'base.html.twig' %}

{% block body %}


    <!-- ============================ Our Story Start ================================== -->
    <section>

        <div class="container">

            <!-- row Start -->
            <div class="row align-items-center">

                <div class="col-lg-6 col-md-6">
                    <img src="assets/img/sb.png" class="img-fluid" alt="" />
                </div>

                <div class="col-lg-6 col-md-6">
                    <div class="story-wrap explore-content">

                        <h2>Notre histoire</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.</p>

                    </div>
                </div>

            </div>
            <!-- /row -->

        </div>

    </section>
    <!-- ============================ Our Story End ================================== -->

    <!-- ================= Our Team================= -->
    <section class="gray-bg section-bot-min">
        <div class="container">

            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="sec-heading center mb-4">
                        <h2>Rencontrez notre équipe</h2>
                        <p>Une équipe de professionels à votre écoute</p>
                    </div>
                </div>
            </div>

            <div class="row">

                <div class="col-lg-4 col-md-4 col-sm-12">

                    <!-- Single Teamm -->
                    <div class="single-team">
                        <div class="team-grid">

                            <div class="teamgrid-user">
                                <img src="https://via.placeholder.com/400" alt="" class="img-fluid" />
                            </div>

                            <div class="teamgrid-content">
                                <h4>Bill</h4>
                                <span class="theme-cl">Co-fondateur</span>
                            </div>

                            <div class="teamgrid-social">
                                <ul>
                                    <li><a href="#" class="f-cl"><i class="ti-facebook"></i></a></li>
                                    <li><a href="#" class="t-cl"><i class="ti-twitter"></i></a></li>
                                    <li><a href="#" class="i-cl"><i class="ti-instagram"></i></a></li>
                                    <li><a href="#" class="l-cl"><i class="ti-linkedin"></i></a></li>
                                </ul>
                            </div>

                        </div>
                    </div>

                </div>

                <div class="col-lg-4 col-md-4 col-sm-12">

                    <!-- Single Teamm -->
                    <div class="single-team">
                        <div class="team-grid">

                            <div class="teamgrid-user">
                                <img src="https://placekitten.com/400/400" alt="" class="img-fluid" />
                            </div>

                            <div class="teamgrid-content">
                                <h4>Le Chat</h4>
                                <span class="theme-cl">Co-fondateur</span>
                            </div>

                            <div class="teamgrid-social">
                                <ul>
                                    <li><a href="#" class="f-cl"><i class="ti-facebook"></i></a></li>
                                    <li><a href="#" class="t-cl"><i class="ti-twitter"></i></a></li>
                                    <li><a href="#" class="i-cl"><i class="ti-instagram"></i></a></li>
                                    <li><a href="#" class="l-cl"><i class="ti-linkedin"></i></a></li>
                                </ul>
                            </div>

                        </div>
                    </div>

                </div>

                <div class="col-lg-4 col-md-4 col-sm-12">

                    <!-- Single Teamm -->
                    <div class="single-team">
                        <div class="team-grid">

                            <div class="teamgrid-user">
                                <img src="https://placedog.net/400/400" alt="" class="img-fluid" />
                            </div>

                            <div class="teamgrid-content">
                                <h4>Potichien</h4>
                                <span class="theme-cl">Wof</span>
                            </div>

                            <div class="teamgrid-social">
                                <ul>
                                    <li><a href="#" class="f-cl"><i class="ti-facebook"></i></a></li>
                                    <li><a href="#" class="t-cl"><i class="ti-twitter"></i></a></li>
                                    <li><a href="#" class="i-cl"><i class="ti-instagram"></i></a></li>
                                    <li><a href="#" class="l-cl"><i class="ti-linkedin"></i></a></li>
                                </ul>
                            </div>

                        </div>
                    </div>

                </div>


            </div>

        </div>
    </section>
    <!-- =============================== Our Team ================================== -->

    <!-- ================= How It Works ================= -->
    <section>
        <div class="container">

            <div class="row">
                <div class="col text-center">
                    <div class="sec-heading center">
                        <h2>Comment ça marche ?</h2>
                        <p>Comment travailler et fonctionner avec nous.</p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-4 col-md-4">
                    <div class="middle-icon-features">
                        <div class="middle-icon-features-item">
                            <div class="middle-icon-large-features-box"><i class="ti-user text-danger"></i><span class="steps bg-danger">01</span></div>
                            <div class="middle-icon-features-content">
                                <h4>Créez votre compte</h4>
                                <p>There are many variations of passages of Lorem Ipsum available, but the majority have Ipsum available.</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4">
                    <div class="middle-icon-features">
                        <div class="middle-icon-features-item">
                            <div class="middle-icon-large-features-box"><i class="ti-search text-success"></i><span class="steps bg-success">02</span></div>
                            <div class="middle-icon-features-content">
                                <h4>Cherchez et trouvez votre catégorie</h4>
                                <p>There are many variations of passages of Lorem Ipsum available, but the majority have Ipsum available.</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4">
                    <div class="middle-icon-features">
                        <div class="middle-icon-features-item">
                            <div class="middle-icon-large-features-box"><i class="ti-location-arrow text-warning"></i><span class="steps bg-warning">03</span></div>
                            <div class="middle-icon-features-content">
                                <h4>Enregistrez votre société</h4>
                                <p>There are many variations of passages of Lorem Ipsum available, but the majority have Ipsum available.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>

{% endblock %}