{% extends 'base.html.twig' %}

{% block title %}Bonjour Bien-être{% endblock %}

{% block body %}

    <!-- ============================ Début du titre ================================== -->


    <section class="theme-bg lttop-title">
        <div class="container">

            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="sec-heading center light mb-5">
                        <h2>Où nous trouver ?</h2>
                    </div>
                </div>
            </div>

        </div>
        <div class="title__curve"></div>
    </section>

    <!-- ============================ Fin du titre ================================== -->

    <!-- ============================ Début de la carte ================================== -->
    <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="sec-heading center mb-5">
                        <h2>Bien-être</h2>
                        <p>Rue Saint-Laurent - 4000 Liège</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="mapouter">
                        <div class="justify-content-around">
                            <iframe width="1200" height="600" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.openstreetmap.org/export/embed.html?bbox=5.554393529891969%2C50.638513566678135%2C5.565948486328126%2C50.647174700033574&amp;layer=mapnik" style="border: 1px solid black"></iframe><br/><small><a href="https://www.openstreetmap.org/#map=17/50.64284/5.56017">Afficher une carte plus grande</a></small>                    </div>
                </div>
            </div>
        </div>
        </div>

    </section>

    <!-- ============================ Fin de la carte ================================== -->



{% endblock %}

